.post-ad-container {
  max-width: 70%;
  margin: 30px auto;
  border: 1px solid #ddd;
  background-color: white;
  font-family: Arial, sans-serif;
  border-radius: 6px;
  overflow: hidden;
}

.post-ad-container h2 {
  text-align: center;
  padding: 20px;
  font-size: 20px;
  border-bottom: 1px solid #eee;
}

.category-container {
  display: flex;
  /* height: 400px; */
}

.left-panel {
  width: 50%;
  border-right: 1px solid #ddd;
  background-color: #fff;
}

.right-panel {
  width: 50%;
  background-color: #f9f9f9;
}

.category-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
  cursor: pointer;
  border-bottom: 1px solid #f0f0f0;
  transition: background-color 0.2s;
}

.category-item:hover {
  background-color: #f5f5f5;
}

.category-item.active {
  background-color: #eaeaea;
}

.category-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  font-size: 20px;
}

.name {
  font-weight: bold;
}

.arrow {
  font-size: 18px;
  color: #666;
}

.subcategory-item {
  padding: 14px 20px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  font-size: 14px;
}

.subcategory-item:hover {
  background-color: #ececec;
}
